<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5">
      <!-- Message d'erreur -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <!-- Barre d'outils : Recherche -->
      <div class="toolbar-container mb-2">
        <div class="search-container">
          <input
            type="text"
            placeholder="🔍 Rechercher action..."
            [(ngModel)]="searchTerm"
            (input)="updatePagination()"
            class="search-input"
          />
        </div>
      </div>

      <!-- Table des logs -->
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th (click)="sortTable('date')">Date</th>
            <th (click)="sortTable('heure')">Heure</th>
            <th (click)="sortTable('action')">Action</th>
            <th (click)="sortTable('id_users')">Utilisateur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of paginatedLogs">
            <td>{{ log.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ log.heure }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.userName }}</td> <!-- Affiche le nom de l'utilisateur -->
          </tr>
        </tbody>
      </table>

      <!-- Message si aucun log n'est disponible -->
      <div *ngIf="paginatedLogs.length === 0" class="text-center">
        Aucun log trouvé.
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="Pagination" class="pagination-container">
        <ngb-pagination
          [(page)]="currentPage"
          [pageSize]="pageSize"
          [collectionSize]="filteredLogs().length"
          (pageChange)="updatePagination()"
        ></ngb-pagination>
      </nav>
    </div>
  </div>
</div>
