.footer {
    background-color: #202121; /* Fond sombre pour le menu */
    padding: 10px;
    width: 100%;
    display: flex; /* Pour aligner les éléments horizontalement */
    justify-content: center; /* Centrer les éléments horizontalement */
  }