<!-- Header Start -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo Section -->
    <a class="navbar-brand" href="/">
      <img 
        [src]="isDarkMode ? '/assets/images/logo_dark.png' : '/assets/images/logo.png'" 
        alt="Logo" 
        class="logo-image">
    </a>
    
    <!-- Navigation Section (partie utilisateur et mode toggle) -->
    <div class="ms-auto d-flex align-items-center">
      <!-- Mode Toggle Section (aligné à droite) -->
      <div class="mode d-flex align-items-center px-3" (click)="toggleTheme()">
        <i id="themeIcon" class="bi" [ngClass]="isDarkMode ? 'bi-moon-fill' : 'bi-sun-fill'"></i>
        <span class="ms-2"></span>
      </div>
      
      <app-my-account></app-my-account>
    </div>
  </div>
</nav>
<!-- Header End -->
