<div class="container-fluid">
  <div class="row">
    <!-- Sélecteurs -->
    <div class="col-md-8">
      <div class="card card-moyenne">
        <div class="card-header text-center">
          <h4>Choisissez les paramètres</h4>
        </div>
        <div class="card-body">
          <label for="year">Année :</label>
          <select id="year" [(ngModel)]="selectedYear" (change)="updateChart()" class="form-control">
            <option *ngFor="let year of [2023, 2024, 2025]">{{ year }}</option>
          </select>

          <label for="month">Mois :</label>
          <select id="month" [(ngModel)]="selectedMonth" (change)="updateChart()" class="form-control">
            <option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">{{ month }}</option>
          </select>

          <label for="week">Semaine :</label>
          <select id="week" [(ngModel)]="selectedWeek" (change)="updateChart()" class="form-control">
            <option *ngFor="let week of [1, 2, 3, 4]">{{ week }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Graphique -->
    <div class="col-md-8">
      <div class="card card-moyenne">
        <div class="card-header text-center">
          <h4>La température et l’humidité moyenne de la semaine</h4>
        </div>
        <div class="card-body">
          <canvas id="chartCanvas"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
