<div class="container-fluid">
    <div class="row">
      <!-- Graphique -->
        <div class="col-md-8">
            <div class="card card-moyenne">
                <div class="card-header text-center">
                    <h4>La température et l’humidité moyenne de la journée.</h4>
                </div>
                <div class="card-body">
                    <canvas #chartCanvas></canvas>
                </div>
            </div>
            
        </div>
  
      <!-- Liste -->
      <div class="col-md-4">
        <div class="card list-group">
            <div class="card-body">
                <div class="list-group bg-light">
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-thermometer"></i> Température Magasin est de 29°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-thermometer"></i> Température Magasin est de 29°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-thermometer"></i> Température Magasin est de 29°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-cloud-rain"></i> Magasin est humide 24°C à 11h00
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark">
                        <i class="bi bi-thermometer"></i> Température Magasin est de 29°C à 11h00
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  