<div class="container-fluid">
    <div class="row">
      <!-- Graphique -->
      <div class="col-md-8">
        <div class="card card-moyenne">
          <div class="card-header text-center">
            <h4>La température et l’humidité moyenne de la journée</h4>
          </div>
          <div class="card-body">
            <canvas #chartCanvas></canvas>
          </div>
        </div>
      </div>
  
      <!-- Liste -->
      <div class="col-md-4">
        <div class="card list-group">
          <div class="card-body">
            <div class="list-group bg-light">
              <a *ngFor="let item of currentMonthData" href="#" class="list-group-item list-group-item-action bg-dark">
                <!-- Affichage conditionnel pour température ou humidité -->
                <i class="bi" [ngClass]="{
                    'bi-cloud-rain': item.humidite !== undefined,
                    'bi-thermometer': item.temperature !== undefined
                  }"></i>
  
                <!-- Température ou humidité -->
                <ng-container *ngIf="item.temperature !== undefined">
                  Température Magasin : {{ item.temperature }}°C à {{ item.heure }}
                </ng-container>
  
                <ng-container *ngIf="item.humidite !== undefined">
                  Magasin est humide : {{ item.humidite }}% à {{ item.heure }}
                </ng-container>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Pagination -->
        <div class="pagination mt-3">
          <!-- Flèche de gauche -->
          <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="btn btn-link" title="Page précédente">
            <i class="bi bi-arrow-left"></i>
          </button>
  
          <!-- Flèche de droite -->
          <button (click)="goToPage(currentPage + 1)" class="btn btn-link" title="Page suivante">
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  