<!-- User Profile and Dropdown -->
<div class="dropdown d-flex align-items-center">
  <a class="d-flex align-items-center text-decoration-none" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <!-- Image with rounded corners -->
    <img class="rounded-circle" [src]="user?.photo || 'assets/images/avatar.png'" alt="Profile Picture" width="50" height="50">
    
    <div class="ms-2"> <!-- Add some space between image and text -->
      <span class="d-block" [ngClass]="isDarkMode ? '' : 'text-dark'">{{user?.name}}</span>
      <small [ngClass]="isDarkMode ? 'text-white' : 'text-dark'">{{user?.role}}</small>
    </div>
  </a>
  
  <!-- Dropdown Menu -->
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Déconnexion</a></li>
  </ul>
</div>
