<div class="container-fluid mt-4">
  <div class="row">
      <!-- Carte principale -->
      <div class="col-md-4">
          <!-- Indicateurs d'humidité et de température -->
          <div class="row">
              <div class="col-md-12">
                  <!-- Carte pour l'humidité -->
                  <div class="card bg-dark text-white mb-3">
                      <div class="card-body">
                          <!-- Titre avec icône -->
                          <div class="d-flex align-items-center">
                              <h6 class="mb-0">Humidité</h6>
                              <i class="bi bi-cloud-rain ms-2 icon-green"></i> <!-- Icône pour Humidité -->
                              <small class="ms-2 text-muted">Niveau actuel</small>
                          </div>
                          <div class="d-flex flex-row justify-content-between mt-3">
                            <p class="mb-0">10:00 &nbsp; <br>
                              <span class="highlight mt-2">{{ getHumiditeAt('10:00') }}</span>
                            </p>
                            <p class="mb-0">14:00 &nbsp; <br>
                              <span class="highlight mt-2">{{ getHumiditeAt('14:00') }}</span>
                            </p>
                            <p class="mb-0">17:00 &nbsp; <br>
                              <span class="highlight mt-2">{{ getHumiditeAt('17:00') }}</span>
                            </p>
                          </div>
                          <small class="text-white">
                              <i class="bi bi-droplet me-1 icon-green"></i> <!-- Icône goutte d'eau -->
                              est inférieur ou égal à <span class="highlight mt-2">27%</span>
                          </small>
                      </div>
                  </div>
              </div>
                  <br>
              <div class="col-md-12">
                  <!-- Carte pour la température -->
                  <div class="card bg-dark text-white">
                      <div class="card-body">
                          <!-- Titre avec icône -->
                          <div class="d-flex align-items-center">
                              <h6 class="mb-0">Température</h6>
                              <i class="bi bi-thermometer-half ms-2 icon-green"></i> <!-- Icône pour Température -->
                              <small class="ms-2 text-muted">Conditions actuelles</small>
                          </div>
                          <div class="d-flex flex-row justify-content-between mt-3">
                            <p class="mb-0">10:00 &nbsp; <br>
                              <span class="highlight mt-2">{{ getTemperatureAt('10:00') }}</span>
                            </p>
                            <p class="mb-0">14:00 &nbsp; <br>
                              <span class="highlight mt-2">{{ getTemperatureAt('14:00') }}</span>
                            </p>
                            <p class="mb-0">17:00 &nbsp; <br>
                              <span class="highlight mt-2">{{ getTemperatureAt('17:00') }}</span>
                            </p>
                          </div>
                          <small class="text-white">
                              <i class="bi bi-thermometer-half  text-white"></i> <!-- Icône pour Température -->
                              <span class=" mb-4">+</span> <!-- Signe "+" pour la température -->
                              Est supérieur à <span class="highlight">27°</span>
                          </small>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carte principale -->
      <div class="col-md-8">
          <div class="card bg-dark text-white main-card">
              <div class="card-body d-flex flex-column justify-content-center align-items-center">

                  <div class="d-flex justify-content-between align-items-center mt-3 w-100">
                      <div>
                          <h5 class="card-title">Salut, {{user.name}}  !</h5>
                          <p class="card-text">Bienvenue à la maison, il est humide au magasin.</p>
                      </div>
                      <div>
                          <span class="d-block fs-4">{{currentDateTime}}</span>
                          <span class="fs-3"><i class="bi bi-thermometer-half  text-white"></i>  - 15 °C</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


      <div class="col-md-12">
          <app-analyse></app-analyse>
      </div>

