<nav class="menu">
  <ul>
    <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a></li>
    <li><a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">User</a></li>
    <li><a routerLink="/utilisateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utilisateurs</a></li>
    <li><a routerLink="/logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Logs</a></li>
  </ul>
</nav>
