<nav class="menu ">
  <ul>
    <!-- Lien Admin (visible uniquement si l'utilisateur est admin) -->
    <li *ngIf="isAdmin">
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard Admin</a>
    </li>
    
    <!-- Lien User (visible uniquement si l'utilisateur est connecté en tant que user) -->
    <li *ngIf="isUser">
      <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard User</a>
    </li>

    <!-- Lien Utilisateurs (visible uniquement pour les admins) -->
    <li *ngIf="isAdmin">
      <a routerLink="/utilisateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utilisateurs</a>
    </li>

    <!-- Lien Logs (visible uniquement pour les admins) -->
    <li *ngIf="isAdmin">
      <a routerLink="/logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Logs</a>
    </li>
  </ul>
</nav>
