<nav class="menu">
  <ul>
    <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a></li>

    <li><a routerLink="/utilisateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utilisateurs</a></li>
    <li><a routerLink="/logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Logs</a></li>
  </ul>
</nav>
<nav class="menu">
  <ul>
    <!-- Menu utilisateur (visible pour les utilisateurs non-admin) -->
    <li *ngIf="isLoggedIn && !isAdmin">
      <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">User</a>
    </li>
  </ul>
</nav>

<nav class="menu">
  <ul>
    <!-- Menu Administrateur -->
    <li *ngIf="isLoggedIn && isAdmin">
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
    </li>
    <li *ngIf="isLoggedIn && isAdmin">
      <a routerLink="/utilisateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utilisateurs</a>
    </li>
    <li *ngIf="isLoggedIn && isAdmin">
      <a routerLink="/logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Logs</a>
    </li>
  </ul>
</nav>
